<div class="task-lists" style="overflow:hidden">
  <app-task-list *ngFor="let list of lists" class="list-container" style="overflow:hidden">
    <app-task-header [header]="list.name" 
    (newTask)="launchNewDialog()" 
    (moveAll)="launchCopyDialog()" 
    (delList)="launchConfirmDialog()"
    (onEditList)="launchEditListDialog()"
    ></app-task-header>
    <app-task-item *ngFor="let task of list.tasks" [item]="task" (taskClick)="launchUpdateTaskDialog(task)">

    </app-task-item>
  </app-task-list>
</div>
<button class="fab-button" md-fab type="button" (click)="launchNewListDialog()">
  <md-icon>add</md-icon>
</button>
