.fab-button{
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 998;
}

.task-lists{
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.list-container {
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
  
.task-lists {
height: 100%;
overflow-x: auto;
}

.fab-button {
position: fixed;
right: 32px;
bottom: 96px;
z-index: 998;
}

:host {  //配合 动画滑动的关键类 @HostBinding
display: flex;
flex-direction: column;
flex: 1
}
